{{page-title "InteractivePriceApp"}}

<div class="background-wrap">
    <div class="container">
        <div class="header-wrap">
            <div class="header">
                <h1>Simple, traffic-based pricing</h1>
                <h2>Sign-up for our 30-day trial. No credit card required.</h2>
            </div>
        </div>

        <div class="main-wrap">
            <div class="box-1">
                <div class="flex-box">
                    <h3>100k pageviews</h3>
                </div>
            </div>
            <div class="box-2">
                <div class="flex-box">
                    <p><span class="price">$16.00</span></p>
                    
                    <p>/ month</p>
                    
                    
                </div>
            </div>

            <div class="box-3">
                <div class="box">
                    <h3>slider</h3>
                    <RangeSlider 
                    @range={{this.model.defaultRange}}
                    @step={{10}}
                    @start={{this.model.steps}}
                    />
                    
                </div>
            </div>

            <div class="box-4">
                <div class="box text-right">
                    <ToggleSwitch />
                   <button
                        class="btn"
                        type="button"
                        {{on "click" this.yearlyPrice}}
                        >
                        yearly price calculations
                    </button>
                </div>
            </div>

            <div class="box-5">
                <div class="flex-box bottom-section">
                    <ul class="no-bullet">
                        <li class="icon-check">Unlimited websites</li>
                        <li class="icon-check">100% data ownership</li>
                        <li class="icon-check">Email reports</li>
                    </ul>
                </div>
            </div>
            <div class="box-6">
                <div class="flex-box bottom-section">
                    <ButtonPack
                        @backgroundColor="dark-blue-bg"
                        @textColor="pale-blue-text"
                        @textAlign="center"
                        @width="width-170"
                        @verticalAlign="middle"
                    >
                        Start my trial
                    </ButtonPack>
                </div>
            </div>
            
        </div>
    </div>
</div>
{{outlet}}